/* MAIN LAYOUT */

.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;}

.main-layout > *:not(.full) {
    grid-column: 2;
    align-content: center;
}

.main-layout > *.full {
    grid-column: 1 / -1;
}
