* {
    box-sizing: border-box;
}

#frmRegister {
    display: grid;
    align-items: center;
    gap: 0.5em;

    width: fit-content;
    padding: 0.3em;
    border: 1px solid lightgray;
    margin: 1em auto;
}

input,
select {
    grid-column: 2;
    font-family: inconsolata, serif;
    letter-spacing: 0.05em;
}

button {
    margin: 1em;
}
