*,
*::before,
*::after {
    box-sizing: border-box;
}

table {
    width: max-content;
    margin: auto 0;

    border-spacing: 0;

    font-size: 1em;
    cursor: pointer;
}

td {
    width: max-content;
    padding: 0.5em 0.5em;
}

.map {
    min-height: 50vh;
}

.place-preview {
    position: relative;
}

button {
    padding: 6px 10px;
    cursor: pointer;

    transition: background-color 300ms;
}

button:hover {
    background-color: var(--clrPrimaryBase-4);
    color: var(--clrPrimaryBase);
    font-weight: bold;
}

.place-preview .btn-remove {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}
