.logo {
  color: var(--clrPrimary-1);
  font-family: inconsolata, monospace;
  text-transform: uppercase;
  font-size: 2.14285714em;
  letter-spacing: 0.2em;
}


.main-header .main-nav-list a {
  padding: 0.5rem 1rem;
  transition: background-color 0.4s;
}

.main-header .main-nav-list a:hover {
  /* text-decoration: none; */
  background-color: var(--clrPrimaryBase);
  color: var(--clrSecondaryBase-1);
}