* {
    box-sizing: border-box;
}

.settings-container {
    display: inline-table;
    position: relative;
    text-align: center;
    gap: 0.5em;

    padding: 0.3em;
    border-radius: 0.3em;
    border: 0.1em solid var(--clrPrimaryBase1);
}

input,
select {
    font-family: inconsolata, serif;
}

.canvas-container,
canvas {
    border-radius: 0.7em;
}

canvas {
    background-color: var(--clrPrimaryBase1);
}

button,
.btn-toggle-menu {
    width: clamp(2em, 16vw, 4em);
    height: clamp(2em, 16vw, 4em);
    border-radius: 10%;
}

.download-btn {
    cursor: pointer;
    transition: 0.2s;
    color: var(--clrPrimary1);
}

.download-btn:hover {
    scale: 1.1;
}

a:hover,
button:hover,
.btn:hover {
    scale: 1.1;
}

.settings-container button img {
    box-shadow: none;
    width: clamp(1em, 8.5vw, 3em);
    height: clamp(1em, 8.5vw, 3em);
}

.settings-container button {
    margin: clamp(0.3em, 1.5vw, 5em);
    border-radius: 10%;
}

.settings-container input[type='text'] {
    width: 95%;
    height: 2em;
    text-align: center;
    border-radius: 4em;
    font-weight: 800;
    font-size: 1.1rem;
    box-shadow: inset 0px -3px 1px #bbc4d1, inset 0px 3px 1px white;
    margin: 0.7em;
}

input[type='txt-color']:hover + button {
    background: #fff;
}

button,
.btn {
    cursor: pointer;
    transition: 0.2s;
    width: clamp(2em, 16vw, 4em);
    height: clamp(2em, 16vw, 4em);
}
