* {
    box-sizing: border-box;
}

.settings-container {
    position: relative;
    /* max-width: 30vw; */
    text-align: center;
    gap: 0.5em;

    /* width: fit-content; */
    padding: 0.3em;
    border-radius: 0.3em;
    border: 0.1em solid var(--clrPrimaryBase1);
    /* margin: 1em auto; */
}

input,
select {
    font-family: inconsolata, serif;
}

.canvas-container,
canvas {
    border-radius: 0.7em;
}

canvas {
    background-color: var(--clrPrimaryBase1);
}

button,
.btn {
    cursor: pointer;
    transition: 0.2s;
    width: 5em;
    height: 5em;
}

button,
.btn-toggle-menu {
    width: 3em;
    height: 3em;
    border-radius: 10%;
}

.download-btn {
    cursor: pointer;
    transition: 0.2s;
    color: var(--clrPrimary1);
}

.download-btn:hover {
    scale: 1.1;
}

a:hover,
button:hover,
.btn:hover {
    scale: 1.1;
}

.settings-container button img {
    box-shadow: none;
    width: fit-content;
    height: 3em;
}

.settings-container button {
    margin: 1em;
    border-radius: 10%;
}

.settings-container input[type='text'] {
    width: 95%;
    height: 2em;
    text-align: center;
    border-radius: 4em;
    font-weight: 800;
    font-size: 1.1rem;
    box-shadow: inset 0px -3px 1px #bbc4d1, inset 0px 3px 1px white;
    margin: 0.7em;
}

input[type='txt-color']:hover + button {
    background: #fff;
}

button,
.btn {
    cursor: pointer;
    transition: 0.2s;
    width: 5em;
    height: 5em;
}
