* {
    box-sizing: border-box;
}

.settings-container {
    position: relative;
    text-align: center;
    gap: 0.5em;

    /* width: fit-content; */
    padding: 0.3em;
    border-radius: 0.3em;
    border: 0.1em solid var(--clrPrimaryBase1);
    /* margin: 1em auto; */
}

input,
select {
    font-family: inconsolata, serif;
}

.canvas-container,
canvas {
    border-radius: 0.7em;
}

canvas {
    background-color: var(--clrPrimaryBase1);
}

button,
.btn {
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;
}

a:hover,
button:hover,
.btn:hover {
    scale: 1.1;
}

button img {
    width: 2em;
    height: 2em;
}

.settings-container button {
    margin: 1em;
}

.settings-container input[type='text'] {
    width: 95%;
    height: 2em;
    text-align: center;
    border-radius: 4em;
    font-weight: 800;
    font-size: 1.1rem;
    box-shadow: inset 0px -3px 1px #bbc4d1, inset 0px 3px 1px white;
    margin: 0.7em;
}

.card .card-image {
    margin-bottom: 1.5rem;
}

.card .card-tag {
    color: var(--clrPrimary1);
    text-transform: uppercase;
    font-family: ubuntu, sans-serif;
    margin-bottom: 1.5rem;
}
